@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: hsl(0, 0%, 8%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 20px;
}

p {
    font-size: 14px;
}

button {
    background-color: hsl(0, 0%, 20%) !important;
    color: white !important;
}

button:hover {
    background-color: hsl(75, 94%, 57%) !important;
    color: black !important;
}

img {
    display: block;
    margin: auto;
}

.home {}

.card {
    background-color: hsl(0, 0%, 12%);
}

.name {
    color: hsl(0, 0%, 100%);
}

.green {
    color: hsl(75, 94%, 57%);
}

.social {
    padding: 3px;
}